# Discord credentials
TOKEN=
CLIENT_ID=
GUILD_ID=
COMMAND_SCOPE=guild

# Channels
NEWS_CHANNEL_ID=
TOURNAMENTS_CHANNEL_ID=

# External APIs
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
STARTGG_KEY=

# Browser/runtime settings
CHROME_PATH=/usr/bin/chromium
KEY=
